:root {
    --container-width: 1520px;
    --container-padding: 40px;
    --calculated-padding: calc((100% - var(--container-width)) / 2);

    --font-inter: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-secondary: "NunitoSans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    --color-heading: #2E7B6A;     /* Заголовки */ 
    --color-subheading: #484544;  /* Подзаголовки */
    --color-body: #898585;        /* Основной текст */ 

    --color-primary: #2E7B6A;    /* Основной цвет бренда/акцентный */
    --color-secondary: #cc584e;  /* Вторичный цвет */
    --color-muted: #484544;      /* Приглушенный/вспомогательный цвет */
}

body {
    color: var(--color-body);
    font-family: var(--font-inter); 
    font-weight: 400;
    font-size: 16px;
    outline: none;
    overflow-x: hidden;
}

body.hide-scroll {
   overflow: hidden; 
}

input,
button,
textarea {
    font-weight: 400;
    font-size: 16px;
}

.container {
  padding-left: max(var(--calculated-padding), var(--container-padding));
  padding-right: max(var(--calculated-padding), var(--container-padding)); 
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Inter-Regular.woff2') format('woff2'),
       url('../fonts/Inter-Regular.woff') format('woff'),
       url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.eot');
  src: url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Inter-SemiBold.woff2') format('woff2'),
       url('../fonts/Inter-SemiBold.woff') format('woff'),
       url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.eot');
  src: url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Inter-Bold.woff2') format('woff2'),
       url('../fonts/Inter-Bold.woff') format('woff'),
       url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.eot');
  src: url('../fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Inter-Black.woff2') format('woff2'),
       url('../fonts/Inter-Black.woff') format('woff'),
       url('../fonts/Inter-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-Black.eot');
  src: url('../fonts/NunitoSans-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/NunitoSans-Black.woff') format('woff'),
       url('../fonts/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap; 
}

.title-h2 {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    color: #2E7B6A;
    margin: 0;
    padding: 0;
}

.title-h1 {
    font-family: var(--font-secondary);
    font-weight: 900;
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 120%; 
    color: #2E7B6A;
}

.btn {
    display: inline-block;
    padding: 22px 40px;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    background: #2E7B6A;
    border: 1px solid #2E7B6A;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    transition: all 0.15s ease-in-out;
    position: relative;
}

.btn:hover {
    color: #2E7B6A;
    background: transparent;
}

.btn.w {
    color: #2E7B6A;
    background: #ffffff;
    border: 1px solid #fff; 
}

.btn.w:hover {
    color: #ffffff;
    background: #2E7B6A;
    border: 1px solid #ffffff;
}

.btn.btn-sm {
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    border-radius: 60px;
}

.btn.btn-with-icon-right { 
    padding: 16px 54px 16px 24px;   
}

.btn.btn-outline-primary {
    color: #2E7B6A;
    background-color: transparent;
    border: 1px solid #2E7B6A;
}

.btn.btn-outline-primary.w {
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.btn.btn-outline-primary.w:hover {
    color: #2E7B6A;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.btn-with-icon-right {
    position: relative;
}

.btn-with-icon-right::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.448 6.70712L17.872 10.5001L18.8147 11.5L24 6L18.8147 0.499999L17.872 1.49987L21.448 5.29288L2.09503e-07 5.29288L2.71322e-07 6.70712L21.448 6.70712Z' fill='%232E7B6A'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.btn.btn-outline-primary:hover {
    color: #fff;
    background-color: #2E7B6A;
    border: 1px solid #2E7B6A;
}

.btn-with-icon-right:hover::before { 
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.448 6.70712L17.872 10.5001L18.8147 11.5L24 6L18.8147 0.499999L17.872 1.49987L21.448 5.29288L2.09503e-07 5.29288L2.71322e-07 6.70712L21.448 6.70712Z' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.header {
    top: 0;
    z-index: 21;
    width: 100%;
    position: fixed;
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
    height: 130px;
}

.header__container .header__top-right {
    position: relative;
}

.header__container .header__logo {
    position: relative;
}

.header__container .header__logo::after { 
    content: '';
    position: absolute;
    width: 1px;
    bottom: 0;
    top: 0;
    background: #E6E6E6;
    right: 0;
}

.header__container .header__top-right::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background: #E6E6E6;
}

.header__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0;
    height: 100%;
}

.header__container .logo__text {
    color: var(--color-subheading);
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.header__container .logo__icon {
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
}

.header__container .logo__icon img {
    width: 100%;
}

.contacts__phone {
    color: var(--color-subheading);
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
}

.contacts__phone:hover {
    color: var(--green-color);
}


.header__container .header__logo {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.header__container .header__top-right,
.header__container .header__nav {
    padding-left: 30px;
}

.header__contacts {
    display: flex;
    align-items: center;
    gap: 30px;
}

.mobile-menu__top .header__contacts {
    padding: 24px 0;
}

.mobile-menu__top .header__contacts {
    align-items: self-start;
    gap: 24px;
}

.contacts__email {
    color: #2E7B6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 2px dotted #4a9b8e;
}

.header__container .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-subheading);
    text-decoration: none;
}

.header__container .nav__link:hover,
.nav__link.nav__link--dropdown.active {
    color: var(--color-heading);
}

.header__container .nav__link--dropdown::after {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23484544' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    position: absolute;
    color: var(--color-subheading);
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    right: 0;
}

.header__container .nav__link--dropdown.active::after { 
    transform: rotate(360deg);
    top: 40%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5L5 1L9 5' stroke='%232E7B6A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.header__container .nav__link.nav__link--dropdown {
    padding-right: 16px;
}

.header__container .nav {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__container .personal-cabinet {
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    gap: 12px;
    width: 206px;
    background: #2E7B6A;
    height: 48px;
    box-sizing: border-box;
    border-radius: 30px;
    text-decoration: none;
}

.header__container .personal-cabinet:hover {
    background: var(--color-subheading);
}

.header__container .personal-cabinet span {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.header__container .header__actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__container .header__top-right {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header__container .header__nav {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
}

.header__container .header__nav .nav__item {
    position: relative;
}

.section-main .container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 45px;
    left: -31px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    min-width: 240px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
}

.nav__item .dropdown {
    display: none;
    opacity: 1;
    visibility: visible;
}

.dropdown__list {
    list-style: none;
    padding: 24px 40px 24px 30px;
    margin: 0;
}

.dropdown__link {
    display: block;
    padding: 8px 0 8px 0;
    text-decoration: none;
    color: #484544;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    transition: background-color 0.3s ease;
}

.dropdown__link:hover {
    color: #2E7B6A;
}

.dropdown__item:last-child .dropdown__link {
    padding: 8px 0 0 0;
}

.dropdown__item:first-child .dropdown__link {
    padding: 0 0 8px 0;
}

.social {
    display: flex;
    gap: 10px;
}

.social__link {
    width: 36px;
    height: 36px;
    background: var(--color-subheading);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s;
}

.social__link:hover {
    background: var(--color-primary);
}

.header__container .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 12px;
}

.header__container .nav__item .nav__link {
    position: relative;
}

.security-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 50px;
    margin: 0 auto;
}

.security-features__card {
    background: #ffffff;
    box-shadow: 0px 0px 40px 0px #0000000D;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px 24px;
}

.security-features__icon {
    position: relative;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
}

.security-features__img {
    width: 40px;
    height: 40px;
}

.security-features__icon img {
    background-size: contain;
    width: 100%;
}

.security-features__content {
    flex: 1;
}

.security-features__title {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.security-features__title h3 {
    font-weight: 700;
    font-size: 16px;
    color: #484544;
    margin: 0;
    line-height: 140%;
}

.security-features__description {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
}

.security-features__description p {
    font-weight: 400;
    color: #898585;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
}

.security-bg {
    padding: 100px 0;
    background-size: contain;
}

.security-btn-row {
    margin-top: 50px;
    text-align: center;
}

.title__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.container-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.slider-big__bg {
   display: none;
}

.info .container-header {
    padding-bottom: 40px;
}

.info {
    padding: 100px 0;
}

.info-container__quote {
    background: #F4F4F4;
    position: relative;
    padding: 60px 137px;
    border-radius: 10px;
    text-align: center; 
}

.info-container__quote::before {
    position: absolute;
    content: '';
    width: 67px;
    height: 60px;
    top: 40px;
    left: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='67' height='60' viewBox='0 0 67 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5056 28.7826H4.91884C5.18471 13.4208 8.24225 10.8879 17.7804 5.29577C18.8772 4.63787 19.2428 3.2563 18.5781 2.13788C17.9134 1.05235 16.5175 0.69051 15.3876 1.3484C4.15445 7.92735 0.232826 11.9405 0.232826 31.0852V48.8155C0.232826 54.4405 4.85237 58.98 10.5022 58.98H20.4724C26.3216 58.98 30.7418 54.605 30.7418 48.8155V38.9471C30.775 33.1576 26.3549 28.7826 20.5056 28.7826Z' fill='%23CC584E'/%3E%3Cpath d='M56.465 28.7826H40.8782C41.1441 13.4208 44.2016 10.8879 53.7398 5.29577C54.8366 4.63787 55.2021 3.2563 54.5374 2.13788C53.8728 1.05235 52.4769 0.69051 51.347 1.3484C40.1138 7.92735 36.1922 11.9405 36.1922 31.0852V48.8155C36.1922 54.4405 40.8118 58.98 46.4616 58.98H56.4318C62.3142 58.98 66.7344 54.605 66.7344 48.8155V38.9471C66.7344 33.1576 62.3142 28.7826 56.465 28.7826Z' fill='%23CC584E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.info-container__quote::after {
    position: absolute;
    content: '';
    width: 67px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='67' height='58' viewBox='0 0 67 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.4944 30.2174H62.0812C61.8153 45.5792 58.7577 48.1121 49.2196 53.7042C48.1228 54.3621 47.7572 55.7437 48.4219 56.8621C49.0866 57.9476 50.4825 58.3095 51.6124 57.6516C62.8455 51.0726 66.7672 47.0595 66.7672 27.9148V10.1845C66.7672 4.55949 62.1476 0.0200195 56.4978 0.0200195H46.5276C40.6784 0.0200195 36.2582 4.39502 36.2582 10.1845V20.0529C36.225 25.8424 40.6451 30.2174 46.4944 30.2174Z' fill='%23CC584E'/%3E%3Cpath d='M10.535 30.2174H26.1218C25.8559 45.5792 22.7984 48.1121 13.2602 53.7042C12.1634 54.3621 11.7979 55.7437 12.4626 56.8621C13.1272 57.9476 14.5231 58.3095 15.653 57.6516C26.8862 51.0726 30.8078 47.0595 30.8078 27.9148V10.1845C30.8078 4.55949 26.1882 0.0200195 20.5384 0.0200195H10.5682C4.68576 0.0200195 0.265625 4.39502 0.265625 10.1845V20.0529C0.265625 25.8424 4.68576 30.2174 10.535 30.2174Z' fill='%23CC584E'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.info-container__quote .title {
    font-weight: 700;
    font-size: 16px;
    color: #484544;
    padding: 0;
    margin: 0 0 14px 0;
}

.info-container__quote .desc {
    padding: 0 0 30px 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #2E7B6A;
}

.info-container__quote .info { 
    margin: 0;
    padding: 0;
    color: #898585;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.info-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 40px;
}

.info-container__l {
    grid-column: 1;
    grid-row: 1;
}

.info-container__r {
    grid-column: 2;
    grid-row: 1 / 3;
}

.info-container__b {
    grid-column: 1;
    grid-row: 2;
}

.info-container__text {
    padding-bottom: 40px;
}

.info-container__text p {
    color: #484544;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%; 
    padding: 0 0 20px 0;
    margin: 0;
}

.info-container__text p:last-child {
    padding: 0 0 0 0;
}

.info-container__r img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    height: 100%;
    object-fit: cover;
}

.news {
    padding: 100px 0;
}

.news__list {
    display: flex;
    width: 100%;
    gap: 50px;
}


.news__item-bg {
    position: relative;
    height: 242px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;   
    margin-bottom: 20px;
}

.news__item .date {
    font-family: var(--font-secondary);
    font-weight: 800;
    border-radius: 40px;
    padding: 10px 14px;
    background: #fff;
    color: #CC584E;
    left: 16px;
    bottom: 16px;
    position: absolute;
}

.news__item-title {
    color: #484544;
    font-weight: 700;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%;
    padding: 0;
    margin: 0 0 20px 0;
    text-decoration: none;
}

.news__item-desk {
    padding: 0;
    margin: 0;
    color: #898585;
    font-weight: 400;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%;
}

.partners {
    padding: 100px 0;
}

.swiper-slide__news-inner {
    background: #fff;
    position: relative;
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box; 
}

.swiper-slide__news-inner img {
    max-height: 50px;
    width: 100%;
}

.swiper.mySwiperNews {
    width: 100%;
    height: 390px;
    margin-left: auto;
    margin-right: auto;
}

.section-news {
    padding: 0 0 50px 0;
}

.partners-block .container-header {
    margin-bottom: 40px;
}

.partners-block__title p {
    font-weight: 400;
    font-size: 16px;
    color: #484544;
    margin: 0;
    padding: 0 0 30px 0;
}

.partners-block__title p:last-child {
    padding: 0;
}

.partners-block {
    display: flex;
    gap: 50px;
}

.footer {
    background: #2E7B6A;
    padding: 60px 0 39px 0;
}

.footer__grid {
    display: flex;
    gap: 40px;
    margin-bottom: 100px;
}

.footer__column {
    flex: 1;
}

.footer__column--nav {
    flex: 2;
    display: flex;
    gap: 60px;
}

.footer__column--contact {
    max-width: 350px;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.footer__nav-section {
    flex: 1;
}

.footer__nav-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 30px 0;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}

.footer__nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__nav-item {
    margin-bottom: 8px;
}

.footer__nav-item:last-child {
    margin-bottom: 0;
}

.footer__nav-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.footer__nav-link:hover {
    color: white;
}

.footer__contact-info {
    padding-left: 26px;
}

.footer__address {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 20px;
    position: relative;
}

.footer__address::after {
    position: absolute;
    content: '';
    width: 16px;
    height: 20px;
    left: -26px;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.0125 19.5506C4.875 17.0363 0 10.9424 0 7.51946C0 3.36809 3.58333 0 8 0C12.4167 0 16 3.36809 16 7.51946C16 10.9424 11.125 17.0363 8.9875 19.5506C8.475 20.1498 7.525 20.1498 7.0125 19.5506ZM8 10.0259C9.47083 10.0259 10.6667 8.90194 10.6667 7.51946C10.6667 6.13698 9.47083 5.01297 8 5.01297C6.52917 5.01297 5.33333 6.13698 5.33333 7.51946C5.33333 8.90194 6.52917 10.0259 8 10.0259Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.footer__phone {
    color: white;
    text-decoration: none;
    margin-bottom: 15px;
    display: block;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
}

.footer__email {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 2px dotted #ffffff;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 38px;
    font-size: 14px;
}

.footer__bottom-line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


.footer__copyright {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.footer__privacy {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
    border-bottom: 1px solid #ffffff;
}

.footer__developer span {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 130px;
}

.footer__developer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer__logo-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 192px;
}

.main-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 50px;
    line-height: 120%;
    text-transform: uppercase;
    max-width: 900px;
}

.main-desk {
    margin: 0;
    padding: 20px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF; 
}

.swiper-pag__row {
    overflow: hidden;
}

.swiper-pag__row .swiper {
    overflow: visible;
}

.slider-big__btns {
    padding-top: 40px; 
}

.mySwiperbig .swiper-slide {
    background-size: cover;
}

.section-main {
    background: #2E7B6A;
    position: relative;
    padding-bottom: 60px;
}

.section-main__mt {
    margin-top: 130px;
}

.slider-big__inner {
    padding: 80px 0 0 0;
}

.mySwiperPag {
    position: absolute;
    z-index: 1;
    height: 20%;
    box-sizing: border-box;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiperbig {
    height: 80%;
    width: 100%;
}

.mySwiperPag .swiper-slide {
    width: 25%;
    height: 100%;
}

.mySwiperPag .swiper-slide .slider-pag__inner {
    background: #f1f3f60d;
    min-height: 90px;
}

.mySwiperPag .swiper-slide.swiper-slide-thumb-active .slider-pag__inner {
    background: #F1F3F64D;
}

.mySwiperPag .swiper-slide .slider-pag__inner {
    background: #F1F3F61A;
}

.mySwiperPag .swiper-slide .slider-pag__inner p {
    color: #ffffff5e;
}

.mySwiperPag .swiper-slide.swiper-slide-visible.swiper-slide-thumb-active .slider-pag__inner p,
.mySwiperPag .swiper-slide.swiper-slide-visible .slider-pag__inner p {
    color: #FFFFFF;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pag-row {
    position: absolute;
        bottom: 60px;
}

.slider-pag__inner {
    backdrop-filter: blur(1px);
    background: #F1F3F61A;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 20px 26px 20px;
}

.slider-pag__inner p {
    font-weight: 400;
    font-size: clamp(12px, 1vw, 16px);
    line-height: 140%;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.section-main__bg {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

.section-main .mySwiperbig,
.section-main .mySwiperPag {
    z-index: 2;
}

.section-main .mySwiperbig {
    padding-bottom: 90px;
}

.mySwiperPag .swiper-wrapper {
    align-items: center;
}

.swiper-slide .autoplay-progress {
    display: none;
}

.swiper-slide.swiper-slide-thumb-active .autoplay-progress {
    display: block;
}

.autoplay-progress {
    position: relative;
    width: 100%;
    height: 4px;
    background: #eee;
    overflow: hidden;
    border-radius: 9px;
    margin-top: 30px;
}

.autoplay-progress .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    background: #CC584E;
    transition: width linear;
}

.news__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.section-news .title-h1 {
   margin-bottom: 30px; 
}

.new__item-img {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1.42/1;
    margin-bottom: 20px;
}

.news__image {
    border-radius: 10px;
    bottom: 0;
    top: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new__content {
    padding: 0;
}

.new__date {
    font-family: var(--font-secondary);
    font-weight: 800;
    border-radius: 40px;
    padding: 10px 14px;
    background: #fff;
    color: #CC584E;
    left: 16px;
    bottom: 16px;
    position: absolute;
    z-index: 2;
    font-size: clamp(12px, 1vw, 14px);
}

.new__item-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%;
    padding: 0;
    margin: 0 0 20px 0;
    text-decoration: none;
    font-size: 16px;
    color: #484544;
    font-weight: 700;
}

.new__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 14px;
    color: #898585;
    font-weight: 400;
}

.news-pagination {
    padding-bottom: 80px;
}

.personal-cabinet-desk {
    display: block;
}

.personal-cabinet-mobi {
    display: none;
}

.header__menu-btn {
    display: none;

    border: none;
    background: transparent;
    width: 37px;
    height: 23px;
    position: relative;
    cursor: pointer;
}

.header__menu-btn::before {
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='37' height='23' viewBox='0 0 37 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.5H36' stroke='%23416486' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M1 11.5H36' stroke='%23416486' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M1 21.5H36' stroke='%23416486' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e");
    background-size: contain;    
    width: 37px;
    height: 23px;
    top: 0;
    left: 0;
}

.header__menu-btn.active::before { 
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25.7488 1.36084L1.00004 26.1096' stroke='%23416486' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M1.35352 1L26.1023 25.7487' stroke='%23416486' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
    width: 23px;
    height: 23px;
    background-size: contain;
   left: 50%;
    transform: translate(-50%, 0);
}

.mobile-menu {
    display: none;
}

.mobile-menu.active {
    display: block;
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 60px;
    z-index: 20;
    height: calc(100vh - 60px);
}

.mobile-menu__row {
    height: 100%;
}

.mobile-menu__top {
    margin: auto;
    max-width: 95%;
    padding-left: 0;
    padding-right: 0;

    overflow-y: scroll;
    height: calc(100vh - 200px);
}

.mobile-menu__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #F4F4F4;
    padding: 20px 0;
    z-index: 100;
}

.mobile-menu__bottom-inner .title {
    margin: 0;
    padding: 0;
    color: #484544;
    font-weight: 800;
    font-size: 14px;
    line-height: 100%;
}

.lk-name {
    padding: 5px 0 5px 25px;
    position: relative;
    font-size: 14px;
    color: #484544;  
}

.lk-name::after { 
    content: '';
    position: absolute;
    width: 14px;
    height: 16px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='6.73695' cy='3.36842' r='3.36842' fill='%232E7B6A'/%3e%3cpath d='M13.4737 11.3681C13.4737 13.461 13.4737 15.1576 6.73684 15.1576C0 15.1576 0 13.461 0 11.3681C0 9.27522 3.01619 7.57861 6.73684 7.57861C10.4575 7.57861 13.4737 9.27522 13.4737 11.3681Z' fill='%232E7B6A'/%3e%3c/svg%3e ");
}

.logout-btn {
    color: #2E7B6A;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    border: none;
    padding: 5px 0 5px 25px;
    position: relative;
}

.logout-btn::after {
    content: '';
    position: absolute;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9 5V3C9 1.89543 8.10457 1 7 1H3C1.89543 1 1 1.89543 1 3V11C1 12.1046 1.89543 13 3 13H7C8.10457 13 9 12.1046 9 11V9' stroke='%232E7B6A' stroke-width='2'/%3e%3cpath d='M5 7L14 7' stroke='%232E7B6A' stroke-width='2'/%3e%3cpath d='M13 5L15 7.00001L13 9' stroke='%232E7B6A' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e");
    width: 17px;
    height: 14px;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

.mobile-menu__list {
    margin: 0;
    padding: 24px 0 0 0;
}

.mobile-menu__item span a,
.mobile-menu__item a {
    color: #484544;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: unset;
}

.mobile-menu__item > span > a {
    display: inline;
}

.mobile-menu__item span, 
.mobile-menu__item a {
    display: block;
    width: 100%;
}

.mobile-menu__item {
    padding: 18px 0;
    border-bottom: 1px solid #E6E6E6;
    list-style: none;
}

.mobile-menu__item:first-child {
    padding: 0 0 18px 0;  
}

.mob-dropdown__list {
    padding: 18px 0 0 0;
    margin: 0;
}

.mobile-menu__item .mob-dropdown__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: unset;
}

.mob-dropdown__list li {
    padding-bottom: 16px;
    list-style: none;
}

.mob-dropdown__list li:last-child {
    padding-bottom: 0;
}

.nav__link--mob-dropdown a {
    position: relative;
}

.nav__link--mob-dropdown a::after {
    content: '';
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L5 5L9 1' stroke='%23484544' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    position: absolute;
    color: var(--color-subheading);
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    right: -20px;
} 

.nav__link--mob-dropdown.active a {
    color: #2E7B6A;
}

.nav__link--mob-dropdown.active a::after {
    transform: rotate(360deg);
    top: 40%;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5L5 1L9 5' stroke='%232E7B6A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.mob-dropdown {
    display: none;
}

.mob-dropdown.active { 
    display:  block;
}

@media (max-width: 1200px) {
    .header__contacts {
        flex-direction: column;
        gap: 5px;
    }

    .header__container .nav__link.nav__link--dropdown {
        padding-right: 14px;
    }

    .header__container .personal-cabinet {
        width: 175px; 
    }

    .header__container .personal-cabinet span {
        font-size: 13px;
    }

    .header__container .logo__text {
        font-size: 12px;
    }

    .header__container .header__logo {
        padding-right: 15px;
    }

    .header__container .header__top-right,
    .header__container .header__nav {
        padding-left: 15px;
    }

    .contacts__phone {
        font-size: 14px;
    }

    .header__container .header__actions {
        gap: 10px;
    }
    .social {
        display: flex;
        gap: 5px;
    }

    .header__container .nav {
        gap: 10px;
    }
}

@media (max-width: 992px) {
    .main-title {
        font-size: 22px;
        text-align: center;
    }

    .header__container .header__top-right::after {
        display: none;
    }

    .btn {
        padding: 22px 40px; 
    }

    .slider-big__btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 25px;
        align-items: center;
    }

    .swiper-pag__row {
        display: none;
    }

    .info {
        padding: 60px 0;
    }

    .header__menu-btn {
       display: block;
    }

    .header__container .header__actions {
        gap: 20px;
    }

    .info-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .info-container__l {
        grid-column: 1;
        grid-row: 1;
    }

    .info-container__r {
        grid-column: 1;
        grid-row: 2; 
    }

    .info-container__b {
        grid-column: 1;
        grid-row: 3;
    }

    .info-container {
        gap: 20px;
    }

    .info-container__quote::before {
        width: 37px;
        height: 30px;
        top: 30px;
        left: 30px;
    }

    .info-container__quote::after {
        width: 37px;
        height: 30px; 
        bottom: 30px;
        right: 30px;
    }

    .info-container__quote {
        padding: 90px 15px;
    }

    .info-container__text {
        padding-bottom: 0; 
    }

    .section-main__mt {
        margin-top: 60px;
    }

    .container {
        margin: auto;
        max-width: 95%;
        padding-left: 0;
        padding-right: 0;
    }

    .header__container .header__logo {
        padding-right: 0;
    }

    .personal-cabinet .text {
        display: none;
    }

    .header__container .personal-cabinet {
        display: block;
        background: transparent;
        padding: 0;
        width: 32px;
        height: 32px;
    }

    .personal-cabinet-desk {
        display: none;
    }

    .personal-cabinet-mobi {
        display: block;
    }

    .news__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }  

    .header__container .header__logo .logo__text,
     .header__container .header__nav {
        display: none;
    }

    .header__container .header__top-right {
        grid-row: 1 / 3;
    }

    .header__container .social,
    .header__container .header__contacts,
    .header__container .header__logo::after {
        display: none;
    }

    .header__container .logo__icon {
        max-width: 100px;
    }

    .header {
        height: 60px;
    }

    .header__container .header__top-right {
        justify-content: end;
    }
}

@media (max-width: 768px) {
    .title-h2 {
        font-size: 20px;
    }

    .container-header img {
        width: 40px;
        height: 40px;
    }

    .info-container__text p,
    .info-container__quote .info {
        font-size: 14px;
    }

    .news__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer__grid {
        flex-direction: column;
    }

    .footer__logo-icon {
        max-width: 100%;
    }

    .footer__logo-icon img {
        max-height: 63px;
    }

    .footer__nav-list {
        text-align: center;
    }

    .footer {
        background: #2E7B6A;
        padding: 30px 0 15px 0;
    }

    .footer__grid {
        margin-bottom: 20px;
    }

    .footer__nav-link {
        font-size: 12px;
    }

    .footer__nav-title {
        font-size: 14px;
        margin: 0 0 20px 0;
    }

    .footer__nav-section {
        text-align: center;
    }

    .footer__column--nav {
        gap: 15px;
    }

    .footer__address {
        font-size: 14px;
    }

    .footer__phone,
    .footer__email {
        font-size: 14px;
    }

    .footer__bottom {
        flex-direction: column;
        align-items: start;
        padding-top: 30px;
        gap: 16px;
    }

    .footer__copyright,
    .footer__privacy,
    .footer__developer span {
        font-size: 12px;       
    }

    .footer__developer img {
        max-height: 22px;
    }

    .new__item-title,
    .new__text {
        font-size: 12px; 
    }

    .new__item-img {
        aspect-ratio: 1.42 / 0.9;
    }

    .security-features {
        grid-template-columns: repeat(1, 1fr);
        gap: 6px;
    }

    .security-features__card {
        grid-template-columns: 1fr 8fr;
        grid-template-rows: auto auto;
    }

    .security-features__description {
        grid-column: 1 / -1;
        grid-row: unset;
    }

    .security-features__icon {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .security-features__title  {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .swiper-pag__row {
        display: none;
    }

    .partners-block {
        flex-direction: column;
    }
}

@media (max-width: 576px) { 
    .news__grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
    }   
}
