.swiper.mySwiperPartners {
    padding-top: 96px;
    position: relative;
}

.swiper-button-next.swiper-button-next-big,
.swiper-button-prev.swiper-button-prev-big  {
    top: unset;
    bottom: 30px;
}

.swiper-button-next.swiper-button-next-big {
    left: 55px;
}

.swiper-button-prev.swiper-button-prev-big {
    left: 0;
}

.mySwiperPartners .swiper-button-next,
.mySwiperPartners .swiper-button-prev {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(55%);
    border: 1px solid #2E7B6A;
    border-radius: 60px;
    padding: 16px;
    box-sizing: border-box;
    width: 56px;
    height: 44px;
    cursor: pointer;
}

.swiper-arrow .swiper-button-next-detail,
.swiper-arrow .swiper-button-prev-detail {
    display: flex;
    border: 1px solid #2E7B6A;
    border-radius: 60px;
    padding: 16px;
    box-sizing: border-box;
    width: 56px;
    height: 44px;
    z-index: 100;
    box-sizing: border-box;
    line-height: normal;
}

.swiper-button-next-detail.swiper-button-disabled, 
.swiper-button-prev-detail.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}

.swiper-arrow .swiper-button-next-detail {
    order: 2;
}

.swiper-arrow .swiper-button-prev-detail {
    order: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
   display: none;
}

.mySwiperbig .swiper-button-next, 
.mySwiperbig .swiper-button-prev {
    height: 14px;
    width: 30px;
}

.mySwiperPartners .swiper-button-next:hover,
.mySwiperPartners .swiper-button-prev:hover,
.swiper-arrow .swiper-button-next-detail:hover,
.swiper-arrow .swiper-button-prev-detail:hover {
    background: #2E7B6A; 
}

.mySwiperPartners .swiper-button-next:hover svg path,
.mySwiperPartners .swiper-button-prev:hover svg path,
.swiper-arrow .swiper-button-next-detail:hover svg path,
.swiper-arrow .swiper-button-prev-detail:hover svg path {
    fill: #fff;
}

.mySwiperPartners .swiper-button-next svg path,
.mySwiperPartners .swiper-button-prev svg path,
.swiper-arrow .swiper-button-next-detail svg path,
.swiper-arrow .swiper-button-prev-detail svg path {
    fill: #2E7B6A;
}

.mySwiperPartners .swiper-button-next:after, 
.mySwiperPartners .swiper-button-prev:after {
   display: none;
}

.mySwiperPartners .swiper-button-prev {
    left: unset;
    right: 80px; 
}

.swiper {
    touch-action: pan-y;
}

.swiper-slide {
    touch-action: pan-y;
}